{% extends "base.html" %}

{% block content %}
<div class="section">
    <h1 class="center-align white-text">Déchiffrement de Mot de Passe</h1>
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="text" class="validate" name="password" required>
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="hashed_password" type="text" class="validate" name="hashed_password" required>
                    <label for="hashed_password">Mot de passe chiffré</label>
                </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Déchiffrer</button>
        </form>
    </div>
    {% if password_match is not none %}
    <div class="card-panel teal lighten-4">
        <h4>Le mot de passe correspond :</h4>
        <p>{{ 'Oui' if password_match else 'Non' }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
